<?xml version='1.0' encoding='utf-8'?>
<widget id="it.unibo.iss" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RemoteConsole</name>
    <description>
        A remote console for ISS project
    </description>
    <author email="edoardo.rosa90@gmail.com" href="http://www.edoardoros.it">
        Edoard Rosa
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <gap:plugin name="com.kumbe.phonegap.zoom.zoomcontrol" version="0.1.7" />
</widget>
